openapi: 3.1.0
info:
  title: Charter Communications Bryte IQ Devices Tickets API
  description: Bryte IQ is a Network-as-a-Service (NaaS) API platform launched by Charter Communications and CableLabs, providing secure API access to network capabilities based on the CAMARA project.
  version: 1.0.0
  contact:
    name: Charter Communications
    url: https://corporate.charter.com/
servers:
- url: https://api.charter.com
  description: Production
tags:
- name: Tickets
  description: Service ticket operations
paths:
  /tickets:
    get:
      operationId: getTickets
      summary: Get Service Tickets
      description: Retrieve a list of service tickets.
      tags:
      - Tickets
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketList'
    post:
      operationId: createTicket
      summary: Create Service Ticket
      description: Create a new service ticket.
      tags:
      - Tickets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketRequest'
      responses:
        '201':
          description: Ticket created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
  /tickets/{ticketId}:
    get:
      operationId: getTicketById
      summary: Get Ticket by ID
      description: Retrieve a specific service ticket.
      tags:
      - Tickets
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
components:
  schemas:
    Ticket:
      type: object
      properties:
        id:
          type: string
        subject:
          type: string
        status:
          type: string
        priority:
          type: string
        createdAt:
          type: string
          format: date-time
    TicketRequest:
      type: object
      properties:
        subject:
          type: string
        description:
          type: string
        priority:
          type: string
    TicketList:
      type: object
      properties:
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/Ticket'
